<button 
  class="button" 
  [type]="type" 
  [ngClass]="classes" 
  (click)="handleClick($event)" 
  [disabled]="isDisabled || isLoading"
  [attr.aria-label]="text"
>
  <div class="button__wrapper">
    <fa-icon 
      *ngIf="isLoading" 
      class="button__icon button__spinner" 
      [icon]="faSpinner" 
      [animation]="'spin'"
    ></fa-icon>

    <ng-container *ngIf="!isLoading && showIconLeft">
      <fa-icon 
        *ngIf="showFaIconLeft && !showSvgIconLeft" 
        class="button__icon" 
        [icon]="getIcon(faIconLeft)"
      ></fa-icon>
      <img 
        *ngIf="showSvgIconLeft && !showFaIconLeft" 
        class="button__icon" 
        [src]="sanitizeSvg(svgIconLeft)" 
        alt=""
      >
    </ng-container>

    <span *ngIf="text" class="button__text">{{ text }}</span>

    <ng-container *ngIf="!isLoading && showIconRight">
      <fa-icon 
        *ngIf="showFaIconRight && !showSvgIconRight" 
        class="button__icon" 
        [icon]="getIcon(faIconRight)"
      ></fa-icon>
      <img 
        *ngIf="showSvgIconRight && !showFaIconRight" 
        class="button__icon" 
        [src]="sanitizeSvg(svgIconRight)" 
        alt=""
      >
    </ng-container>
  </div>
</button>