@import '../../tokens/variables';

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 10px;
  letter-spacing: 2px;
  background-color: $brand-purple-400;
  min-width: 46px;
  min-height: 24px;
  text-transform: capitalize;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
    max-height: 36px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 0 10px;
  }

  &__text {
    font-size: 12px;
    margin: 0 10px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &--small {
    padding: 5px;
    font-size: 12px;
    min-height: 24px;
  }

  &--medium {
    padding: 10px;
    font-size: 13px;
    min-height: 36px;
  }

  &--large {
    padding: 14px;
    font-size: 14px;
    min-height: 48px;
  }

  &--primary {
    color: $neutrals-white;
    background-color: $brand-purple-400;
    &:hover { background-color: $data-purples-bright-purple-hover; }
    &:focus { outline: 2px solid $brand-purple-300; border: 2px solid $neutrals-white; }
    &:disabled { 
      cursor: not-allowed; 
      background-color: $neutrals-gray-200; 
      color: $neutrals-white; 
    }
  }

  &--secondary {
    color: $data-purples-bright-purple-hover;
    background-color: $neutrals-white;
    border: 2px solid $brand-purple-400;
    &:hover { 
      background-color: $brand-purple-200; 
      border-color: $data-purples-bright-purple-hover; 
    }
    &:focus { border-color: $brand-purple-300; }
    &:disabled { 
      cursor: not-allowed; 
      background-color: $neutrals-white; 
      border-color: $neutrals-gray-200; 
      color: $neutrals-gray-200; 
    }
  }

  &--tertiary {
    color: $brand-purple-400;
    background-color: $neutrals-white;
    &:hover { background-color: $brand-purple-200; }
    &:focus { border: 2px solid $brand-purple-300; }
    &:disabled { 
      cursor: not-allowed; 
      background-color: $neutrals-white; 
      color: $neutrals-gray-200; 
    }
  }

  &--destructive {
    color: $alerts-error;
    background-color: $neutrals-white;
    border: 2px solid $alerts-error;
    &:hover { 
      background-color: $alerts-error-light-hover; 
      border-color: $alerts-error; 
      outline: none; 
    }
    &:focus { 
      outline: 2px solid $alerts-error; 
      outline-offset: -5px; 
      border-color: $brand-purple-300; 
    }
    &:disabled { 
      cursor: not-allowed; 
      background-color: $neutrals-white; 
      border-color: $neutrals-gray-200; 
      color: $neutrals-gray-200; 
      fill: $neutrals-gray-200; 
    }
  }
}